<div>
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="credentials.username" required #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" style="color: red;">
        Username is required.
      </div>
    </div>
    <br>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="credentials.password" required #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" style="color: red;">
        Password is required.
      </div>
    </div>
    <br>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
    {{ errorMessage }}
  </div>
</div>
